.term {
    align-items: baseline;
    display: flex;
    display: inline-block;
    border: none;
    gap: 5px;
    
    & span {
        font-size: 2em;
        position: relative;
    }

    & input[type="number"]{
        width: 1.5em;
        font-size: 2em;
        background: none;
        border: none;
        -moz-appearance: textfield;
        color: white;
        text-align: right;
        outline: none;
    }
    & input[name="exponent"]{
        text-align: left;
        font-size: 1em;
        width: 2em;
        position: relative;
        top: -1em;
    }
}