:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--black);

  
  --black: #313131;
  --white: #E2E2E2;
  --main: #429C20;
  --light: #4E4E4E
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


